@model IEnumerable<homework1_bootcampC_.Models.Employee>
@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Title</th>
            <th>Orders</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.Title</td>
                <td><a href="@Url.Action("Orders", "Home", new { id = employee.EmployeeId })">Orders</a></td>
            </tr>
        }
    </tbody>
</table>
